<div class="page-content status-color__{{customer.status}}-bg" *ngIf="isLoaded">
  <div class="page-content__notempty">
    <div class="spinner-load load-component" *ngIf="!isLoaded">
        <mat-progress-spinner mode="indeterminate" diameter="100"></mat-progress-spinner>
    </div>
    <section class="mcard mcard__padsm customer customer__flex mcard__boxshadow">
      <div class="customer__left">
        <div class="customer__row">
          <p class="customer__item">Имя Фамилия</p>
          <h3 class="customer__name">{{customer.first_name}} {{customer.last_name}}</h3>
        </div>
        <div class="customer__row">
          <p class="customer__item">Телефон</p>
          <p class="customer__item">{{customer.phone}}</p>
        </div>
        <div class="customer__row">
          <p class="customer__item">Адрес</p>
          <p class="customer__item">{{customer.address}}</p>
        </div>
      </div>
      <div class="customer__right">
        <app-oneplace></app-oneplace>
      </div>
    </section>
  </div>
</div>