<div class="user" [matMenuTriggerFor]="userTab">
  <div class="user__name" *ngIf="isLoaded">
    <div> {{ user.first_name }} {{ user.last_name }} </div>
    <div class="user__login">@{{ user.login }}</div>
  </div>
  <div class="user__avatar" *ngIf="isLoaded">
    <img class="user__avatar-image" *ngIf="!user.avatar" src="../../../assets//icons//user-avatar.svg" alt="">
    <img class="user__avatar-image" *ngIf="user.avatar" src="user.avatar" alt="">
  </div>
</div>
<mat-menu #userTab="matMenu">
  <!-- <button mat-menu-item routerLink="settings">Настройки</button> -->
  <button mat-menu-item (click)="logout()">Выход</button>
</mat-menu>