@import '../../../assets/styles/common/variables';

:host {
    display: block;
    position: relative;
    margin: 0 0 $offset-sm;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    &__name {
        margin-right: $offset-md;
    }

    &__avatar {
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-radius: 50%;
        cursor: pointer;

        &-image {
            width: 100%;
            display: block;
        }
    }

    &__login {
        color: $gray-color;
        font-size: .9rem;
    }
}
