@import '../common/variables';

.notification {
    &-success {
        background: $total-color-green;
    }
    &-warning {
        background: $total-color-yellow;
    }
    &-error {
        background: $total-color-pink;
    }
}
