@import '../common/variables';

.notification {
    &-success {
        background-color: $success-color;
    }
    &-warning {
        background-color: $warning-color;
    }
    &-error {
        background-color: $error-color;
    }
}
