<div class="page-content" *ngIf="isLoaded">
  <div class="page-content__empty" *ngIf="!_customers.body.length">У Вас ещё нет ни одного клиента!</div>
  <div class="page-content__notempty" *ngIf="_customers.body.length">
    <h2>Все клиенты</h2>
    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="_customers.body">
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef> Телефон </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.phone}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.first_name}} {{item.last_name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef> Зарегистрирован </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.createdAt}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  </div>
</div>