<div class="header">
  <div class="header__left">
    <div class="header__left--top">
      <a (click)="backPage(goBack)" *ngIf="goBack">
        <mat-icon class="header__back material-icons">arrow_back</mat-icon>
      </a>
    </div>
    <div class="header__left--bottom">
      <div class="header__navigation" *ngIf="navigation">
        <nav class="header-nav nav">
          <ul class="nav__list">
            <li *ngFor="let item of navigation" class="nav__item">
                <a [routerLink]="item.link" class="nav__link" routerLinkActive="nav__link--active">
                  <span class="nav__link-title">{{ item.name }}</span>
                </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="header__right">
    <app-user></app-user>
  </div>
</div>
