.form {
    &-more {
        padding: $offset-mc;
        margin: 0 0 $offset-mc;
        background-color: $form-more-bg;
        &-title {
            color: $dark-color;
            font-size: .9rem;
            margin: 0 0 $offset-mc;
        }
    }
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        & > * {
            width: 47%;
        }
    }
}

.input-suffix {
    //
}