.mbutton {
    &-control {
        // background-color: $navbar-color;
        background: $total-color-blue;
        color: $white-color !important;
    }
}

.control--active {
    color: $navbar-color;
}