<div class="page-content" *ngIf="isLoaded">
  <div class="page-content__empty" *ngIf="!_employees.body.length">У Вас ещё нет ни одного клиента!</div>
  <div class="page-content__notempty" *ngIf="_employees.body.length">
    <h2>Все сотрудники</h2>

    <table class="table customer-table">
      <thead class="table__head">
        <tr class="table__row customer-table__row">
          <th class="table__col customer-table__col">Телефон</th>
          <th class="table__col customer-table__col">Логин</th>
          <th class="table__col customer-table__col">Имя</th>
          <th class="table__col customer-table__col">Дата регистрации</th>
          <th class="table__col customer-table__col">Должность</th>
          <th class="table__col customer-table__col"></th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr class="table__row customer-table__row" *ngFor="let item of _employees.body">
          <td class="table__col customer-table__col table__col-link" [routerLink]="[item.id, 'profile']"> {{ item.phone }} </td>
          <td class="table__col customer-table__col table__col-link" [routerLink]="[item.id, 'profile']"> {{ item.login }} </td>
          <td class="table__col customer-table__col table__col-link" [routerLink]="[item.id, 'profile']"> {{ item.first_name }} {{ item.last_name }} </td>
          <td class="table__col customer-table__col"> {{ item.createdAt | date:"dd/MM/yyyy hh:mm" }} </td>
          <td class="table__col customer-table__col"> <div *ngFor="let role of roleList"> <span *ngIf="role.id === item.role">{{ role.name }}</span> </div></td>
          <td class="table__col customer-table__col">
            <div class="table__controls table__col-right">
              <mat-icon>create</mat-icon>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>