$navbar-color:  #0955c9;
$authpage-color:#0955c9;
$simple-color:  #f7f8fc;
$cards-color:   #fefefe;
$text-black:    #2f3640;
$text-white:    #fefefe;
$text-common:   #ffffffb3;

$navbar-color-hover:    #2879f5;
// Standart colors
$white-color:   #fff;
$black-color:   #000;
$dark-color:    #333;

$navbar-width:  250px;
$header-height: 90px;
$screen-sm: 320px;
$screen-md: 750px;
$screen-lg: 1200px;
$screen-xl: 1500px;

$sidebar-index: 20;
$header-index:  10;

$content-index: 15;

// offset params
$offset-mc: 8px;
$offset-sm: 16px;
$offset-md: 24px;
$offset-lg: 32px;
$offset-xl: 64px;
