$red-color:                 #b65149;
$violet-color:              #9560b4;
$blue-color:                #52b4e1;
$sea-color:                 #57d0c9;
$green-color:               #6fca89;
$olive-color:               #a2c752;
$yellow-color:              #f0b73d;
$orange-color:              #f0783d;
$gray-color:                #9e9e9e;
$form-more-bg:              #f1f1f1;

$navbar-color:  #0955c9;
$authpage-color:#0955c9;
$simple-color:  #f7f8fc;
$cards-color:   #fefefe;
$text-black:    #2f3640;
$text-white:    #fefefe;
$text-common:   #ffffffb3;
$error-color:   #ff5722;
$warning-color: #ff9800;
$success-color: #4caf50;

$total-color-blue:      linear-gradient(45deg,#4099ff,#73b4ff);
$total-color-green:     linear-gradient(45deg,#2ed8b6,#59e0c5);
$total-color-yellow:    linear-gradient(45deg,#ffb64d,#ffcb80);
$total-color-pink:      linear-gradient(45deg,#ff5370,#ff869a);

$total-shadow:          0 1px 2.94px 0.06px rgba(4,26,55,.16);
$total-shadow-hover:    0 1px 5.5px 0.06px rgba(4,26,55,.34);

$navbar-color-hover:    #2879f5;
// Standart colors
$white-color:   #fff;
$black-color:   #000;
$dark-color:    #333;

$card-shadow: 0 0 20px -3px rgba(0, 0, 0, .2);

$navbar-width:  250px;
$header-height: 90px;
$screen-sm: 320px;
$screen-md: 750px;
$screen-lg: 1200px;
$screen-xl: 1500px;

$sidebar-index: 20;
$header-index:  10;

$content-index: 15;

// offset params
$offset-mc: 8px;
$offset-sm: 16px;
$offset-md: 24px;
$offset-lg: 32px;
$offset-xl: 64px;
