<app-logo></app-logo>
<div class="sidebar">
  <div class="sidebar__navigation">
    <nav class="sidebar-nav nav">
      <ul class="nav__list">
        <li *ngFor="let item of navigation">
            <a [routerLink]="item.link" class="nav__link" routerLinkActive="nav__link--active">
              <i class="material-icons nav__link-icon">{{ item.icon }}</i>
              <span class="nav__link-title">{{ item.name }}</span>
            </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="sidebar__bottom sidebar__navigation">
    <ul class="nav__list">
      <li>
          <a class="nav__link cursor-pointer" (click)="logout()">
            <i class="material-icons nav__link-icon">exit_to_app</i>
            <span class="nav__link-title">Выйти</span>
          </a>
      </li>
    </ul>
  </div>
</div>